.trophy-notification-wrapper {

	z-index: 1500;
	position: fixed;

}

/* Notification Positions */

.trophy-notification-pos-top-left {

	top: 0px;
	left: 0px;

}

.trophy-notification-pos-top-right {

	top: 0px;
	right: 0px;

}

.trophy-notification-pos-bottom-left {

	bottom: 0px;
	left: 0px;

}

.trophy-notification-pos-bottom-right {

	bottom: 0px;
	right: 0px;

}

div.trophy-table {

	display: table;
	width: 100%;

}

div.trophy-row {

	display: table-row;

}

div.trophy-cell {

	display: table-cell;
	vertical-align: middle;
	text-align: center;

}

div.trophy-stats h4 {

	text-transform: uppercase;
	font-size: 11px;
	margin-bottom: 7px;

}

div.trophy-stats span {

	 font-size: 27px;

}

div.trophy-stats span img {

	margin-left: 3px;
	position: relative;
	top: -2px;

}

div.trophy-stats-level-info {

	margin-top: 15px;
	text-transform: uppercase;
	font-size: 14px;

}

div.trophy-stats-progress-bar {

	background-color: #000;
	width: 100%;
	height: 10px;
	clear: both;
	margin-top: 5px;

}

div.trophy-stats-progress-highlight {

	background-color: #3aaef5;
	height: 10px;
	box-shadow: 0px 0px 3px 1px #3aaef5;

}

div.trophy-stats-level-info .trophy-stats-current-level {

	float: left;

}

div.trophy-stats-level-info .trophy-stats-next-level {

	float: right;

}

div.trophies-list-none {

	font-style: italic;
	padding: 10px;
	
}

div.trophy-list-trophy-img, div.trophy-list-trophy-title-desc {

	float: left;
	
}

div.trophy-list-trophy-big-cup, div.trophy-list-trophy-earned-date {

	float: right;
	
}

div.trophy-list-trophy {

	padding: 5px;
	margin-top: 10px;

}

div.trophy-list-trophy.trophy-list-trophy-first {
	
	margin-top: 0px;
	
}

div.trophy-list-trophy div.trophy-list-trophy-title-desc {

	margin-left: 15px;
	margin-top: 3px;	

}

div.trophy-list-trophy div.trophy-list-trophy-desc, div.trophy-list-trophy-earned-date {
	
	font-size: 92%;
	
}

div.trophy-list-trophy div.trophy-list-trophy-title-desc span.trophy-list-trophy-title-cup {
	
	position: relative;
	top: 2px;

}

div.trophy-list-trophy div.trophy-list-trophy-title-desc div.trophy-list-trophy-title {

	margin-bottom: 3px;
	
}

div.trophy-list-trophy div.trophy-list-trophy-big-cup {

	margin-right: 17px;

}

div.trophy-list-trophy div.trophy-list-trophy-earned-date {

	margin-top: 15px;
	margin-right: 30px;
	
}

div.trophy-list-trophy-not-earned {

	opacity: 0.3;	

}

div.trophies-content-box-list {

	border-radius: 10px 0px 10px 10px;

}

div.trophies-pack-tabs > ul {

	border-radius: 10px 10px 0px 0px;
	float: right;
	padding-left: 8px;

}

td.trophies-members-list-cups img, div.trophies-mini-profile img {

	position: relative;
	top: 4px;

}

div.trophies-mini-profile {

	margin-top: 5px;

}

th.trophies-members-list-th {

	width: 15%;

}

td.trophies-members-list-cups span, div.trophies-mini-profile span {

	margin-right: 6px;

}

td.trophies-members-list-cups span:last-child, div.trophies-mini-profile span:last-child {

	margin-right: 0px;

}

/* PS3 Theme */

div.trophy-notification-wrapper.trophy-theme-ps3 {

	padding: 25px;

}

div.trophy-notification-theme-ps3 {

	width: 260px;
	padding: 10px;
	height: 50px;
	background-color: #4D4D4D;
	border: 1px solid #4F5759;
	color: #CFCFCF;
	font-size: 13px;
	font-weight: bold;
	font-family: arial;
	border-radius: 7px;

}

div.trophy-notification-theme-ps3-left {

	float: left;

}

div.trophy-notification-theme-ps3-title {

	margin-top: 6px;
	margin-left: 14px;
	float: left;
	text-shadow: 2px 2px 3px rgb(0, 0, 0);

}

p.trophy-notification-theme-ps3-info {

	margin-top: 0px;

}

img.trophy-notification-theme-ps3-cup {

	position: relative;
	top: 4px;

}

/* PS3 Theme End */

/* PS4 Theme */

div.trophy-notification-theme-ps4-inner {

	background-color: #040506;
	color: #777879;
	padding: 7px;
	display: table;

}

div.trophy-notification-theme-ps4-wrapper {

	background-color: #454e4d;
	opacity: 0.95;
	padding: 2px;
	border: 1px solid #000;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
	margin-top: 10px;
	margin-bottom: 10px;

}

div.trophy-notification-theme-ps4-image {

	float: left;
	margin-right: 10px;

}

img.trophy-notification-theme-ps4-cup {

	position: relative;
	top: 3px;

}

div.trophy-notification-theme-ps4-image img {

	vertical-align: middle;

}

span.trophy-notification-theme-ps4-title {

	font-weight: bold;
	font-size: 12px;

}

div.trophy-notification-theme-ps4-info {

	font-size: 90%;
	display: table-cell;
	vertical-align: middle;

}

p.trophy-notification-theme-ps4-desc {

	margin-top: 3px;

}

div.trophy-theme-ps4.trophy-notification-pos-top-left, div.trophy-theme-ps4.trophy-notification-pos-bottom-left {

	left: -5px;

}

div.trophy-theme-ps4.trophy-notification-pos-top-left div.trophy-notification-theme-ps4-inner, div.trophy-theme-ps4.trophy-notification-pos-bottom-left div.trophy-notification-theme-ps4-inner {

	padding-left: 40px;
	padding-right: 15px;

}

div.trophy-theme-ps4.trophy-notification-pos-top-right , div.trophy-theme-ps4.trophy-notification-pos-bottom-right {

	right: -5px;

}

div.trophy-theme-ps4.trophy-notification-pos-top-right div.trophy-notification-theme-ps4-inner, div.trophy-theme-ps4.trophy-notification-pos-bottom-right div.trophy-notification-theme-ps4-inner {

	padding-right: 50px;

}

/* PS4 Theme End */